<h1>New source</h1>

<% form_for(@source) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </p>
  <p>
    <%= f.label :titleexp %><br />
    <%= f.text_field :titleexp %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sources_path %>
