<p>
  <b>Name:</b>
  <%=h @source.name %>
</p>

<p>
  <b>Domain:</b>
  <%=h @source.domain %>
</p>

<p>
  <b>Titleexp:</b>
  <%=h @source.titleexp %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
